# venv
venv/
.venv/

# python cache
__pycache__/
*.pyc

# logs
*.log
LogARH/
TTGPlog/
ConvLog/

# runtime data
INPUT/
!RESULT/
WavARH/
REJECTG/
RUN/*.pid
data/

# models / weights
models/
**/*.safetensors
**/*.bin
**/*.pt
**/*.ckpt

# ffmpeg binaries (если не хочешь хранить)
ffmpeg/

# vscode
.vscode/
